[Unit]
Description=gipsobob
After=network.target

[Service]
User=deploy
Group=deploy
Type=simple
WorkingDirectory=/opt/gipsobob
ExecStart=/opt/gipsobob/target/release/gipsobob
EnvironmentFile=/opt/gipsobob/.env
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target