[Unit]
Description=gipsobob
After=multi-user.target

[Service]
User=root
Group=root
Type=simple

ExecStart=/root/bots-rs/gipsobob/gipsobob

EnvironmentFile=/root/bots-rs/gipsobob/.env

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target